# GraphSync Configuration

# Odoo Instances Configuration
# These can be overridden by the DOCKER_INSTANCES environment variable
instances:
  - name: "odoo1"
    url: "http://localhost:8069"  # Odoo instance 1
  
  - name: "odoo2"
    url: "http://localhost:8070"  # Odoo instance 2
    

# Logging Configuration
log_level: "INFO"  # Options: DEBUG, INFO, WARNING, ERROR, CRITICAL